h1, h2{
    color: #23204A;
    font-family: verdana;
}
body{
    background-color: ghostwhite;
    /*background-image: url("Img/Syrena.jpg");*/

}
p{
    font-family: Verdana;
}
ul.none li{
    list-style-type: none;
}

.menu nav{
    display: flex;
    justify-content: center;
}

.menu nav a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu{
    /*background-image: url(Img/bg.gif);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #23204A;
    /*position: fixed;*/

}

@media (max-width: 553px) {
    .menu nav {
        display: block;
    }
}

.head{
    /*background-image: url(Img/bg.gif);*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*position: 0px;*/
    background-color: #ffff64;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;

}
.left{
    text-align: left;
    /*display: flex;*/
    margin-right: 100px;
    margin-top: 130px;
    padding: 10px;
    box-shadow:
            inset 0 0em 0em #CC2F1F,
            0 0  0 2px black,
            1.3em 1em 1em #23204A;


}
.img{
    width: 400px;
    /*float: right;*/
    /*display: flex;*/
    float: right; /* Выравнивание по левому краю */
    margin: 10px 10px 7px 50px;


}

.menu nav a:hover{
    background-color: #ffff64;
    color: #23204A;
    border-radius: 0.25em;

}

.img2{
    width: 200px;
    float: left;
    margin: 10px 40px 7px 0;

}

.textTop3{
    list-style-type: none;
    /*margin: 10px 1000px 110px 150px;*/
    padding: 10px;
    box-shadow:
            inset 0 0 0 #CC2F1F,
            0 0  0 2px black,
            1.3em 1em 1em #23204A;
    max-width: 350px;
    margin-left: 60px;
}

.comment{
    margin-top: 100px;
}

/*.syt{*/
/*    margin-top: 20px;*/
/*}*/

.text1{
    /*display: inline-block;*/
    /*margin-top: 130px;*/
}

.color {
    background: #7FFA4D;
}


/*.down{*/
/*    background-image: url(Img/bg.gif);*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    justify-content: center*/
/*}*/
/*ul.none {*/
/*    display: flex;*/

/*}*/
/*li{*/
/*    list-style-type: none ;*/
/*}*/

/*.header{*/
/*    color: #23204A;*/
/*    font-family: verdana;*/
/*}*/
/*nav, ul{*/
/*    display: inline-block;*/
/*}*/

