body {
    background-color: ghostwhite;
    /*background-image: url("Img/Syrena.jpg");*/
}

.head{
    /*background-image: url(Img/bg.gif);*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*position: 0px;*/
    background-color: #ffff64;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;

}
.menu nav{
    display: flex;
    justify-content: center;
}

.menu nav a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu nav a:hover{
    background-color: #ffff64;
}

.menu{
    /*background-image: url(Img/bg.gif);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #23204A;
    /*position: fixed;*/

}

h1, h2{
    color: #23204A;
    font-family: verdana;
}

@media (max-width: 553px) {
    .menu nav {
        display: block;
    }
}

.syt{
    margin-top: 130px;
}

.text{
    box-shadow:
            inset 0 0 0 #CC2F1F,
            0 0  0 2px black,
            1.3em 1em 1em #23204A;
}